
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <!-- Ruta correcta del archivo CSS compilado -->
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>


    <div class="hero">
        <h2>¡Servicio inteligente y sofisticado en la palma de tus manos!</h2>
        <p>Toma el control total. La app Tarius te permite administrar tu dinero de forma más rápida y sencilla.</p>
        <img src="~/resources/images/imagen3.jpg" width="400" />
    </div>

    <section class="features">
        <div class="feature-item">
            <h3>Seguro</h3>
            <p>Utilizamos un nivel de cifrado de datos y medidas de seguridad líderes en la industria..</p>
        </div>
        <div class="feature-item">
            <h3>Facil</h3>
            <p>Un número de móvil y un teléfono inteligente es todo lo que necesitas para comenzar..</p>
        </div>
        <div class="feature-item">
            <h3>Transparente</h3>
            <p>Disfrute de tarifas sin cargos ocultos y sin márgenes injustos..</p>
        </div>
        <div class="feature-item">
            <h3>Empoderar</h3>
            <p>Personaliza tu experiencia y toma el control.</p>
        </div>
    </section>
</body>
</html>
